.contact {
  border-top: 1px solid #dee2e6;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;

  .row {
    .contact-info {
      text-align: center;
      border-right: 1px solid #dee2e6;

      &:last-child {
        border: 0;
      }

      i {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      h4 {
        margin-bottom: 0.4rem;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        word-spacing: 1px;
        color: #6f6f6f;
      }
    }
  }
}
